.mySide {
    position: fixed;
    width: 35%;
    bottom: 70%;
    right: 60%;


}


.displayStory {
    position: fixed;
    margin: 20px 150px 100px 30%;
    display: none;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;

}

.textEffect {
    text-align: left;
    margin-left: -5%;
background: orange;
    padding: 15px;
}

a:hover {
    color: midnightblue;
}