/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

* {
    padding: 0;
    text-decoration: none;
    list-style: none;
    margin: 0;
    box-sizing: border-box
}

[class*="col-"] {
    float: left;

}

.row::after {
    clear: both;
    display: block;
    content: "";
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    background: #d0d1d2;
}

/*header*/
.headermenu li {
    width: 20%;
    text-align: center;
    color: white;
    float: left;
}

#righter {
    padding-left: 134px;
}

/*story*/
.story {
    margin-bottom: 10px;
    height: 200px;
}

.storybox {
    float: left;
    border: 1px solid black;
    width: 18%;
    height: 100%;
    border-radius: 15px;
    background: gold;
}

.storyimage {
    width: 100%;
    border-radius: 15px;
    height: 100%;
    background: #f5a7ff;
}

.storyname {
    padding-top: 171px;
    text-align: center;
    color: white;

}

/*stt*/
.stt {
    margin: 15px 0;
    border-radius: 15px;
    bottom: 0;
    float: bottom;
    height: 160px;
    background: white;
}

.button li {
    width: 200px;
    float: left;
    text-align: center;
    padding-top: 64px;
}


.facehere {
    height: auto;
    background: white;
}

/*header cua fb*/
#fixedheader {
    top: 0;
    float: bottom;
    padding: 0;
    line-height: 60px;
    width: 100%;
    position: fixed;
    height: 60px;
    background: #0a53be;
}

/*body*/

#facebookbody {
    margin-top: 65px;
}

.sider {
    margin-left: 15px;
}

.sider ul {
    font-weight: bold;
    line-height: 56px;
    height: 289px;
}

.fakeimage {
    padding: 5px;
    background: #a4ffff;
    border-radius: 20px;
}


#textBox {
    padding: 0 20px;
    margin-left: 10px;
    border: none;
    background: #CDCDCD;
    border-radius: 50px;
    height: 35px;
    width: 150px;
}
.contacts  {
    width: 100%;
    padding: 0;
}
.contacts ul li{
    width: 200px;
    text-align: center;
    padding-top: 31px;
}

.thinking {
    padding-top: 45px;
    width: 100%;
    float: left;

}

div{
    width: 100%;
}
.status{
    height: 50%;
}

.food{
    text-align: center;
    width: 100%;
}
.food img{
margin: 3px 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}