legend, button {
    background: #c1d6cc;
    font-size: 19px;

    border-radius: 30px;
    padding: 20px;

    width: max-content;
}

button {
    background: #31d2f2;
    border: solid black;
    box-shadow: 3px 3px 3px darkgray;
}

button:hover {
    font-weight: bold;
    color: white;
    background: cornflowerblue;
    border: solid black;
    box-shadow: 3px 3px 3px darkgray;
}

a {
    text-decoration: none
}

table,  td {
    border: 1px solid blue;
    border-collapse: collapse;
}
td {
    width: 170px;
}

body {
    background: #c1d6cc;
    text-align: center;
    width: 95%;
}