* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: Arial, serif;
    background-color: orangered;
    background-image: linear-gradient(to bottom right, red, yellow, orange);
}

* {
    margin: 0;
    padding: 0;
}


.menu {
    background: black;
    margin: 0 auto;
}

.menu ul {
    height: 80px;
}

.menu ul li {
    background: black;
    width: 230px;
    border: 1px solid transparent;
    height: 80px;
    line-height: 80px;
    text-align: center;
    float: left;
    color: #fff;
    position: relative;
}

.menu ul li:hover {
    border: 1px solid white;
}

.menu ul ul {
    border: 1px solid transparent;
    display: none;
}

.menu ul li:hover > ul {


    display: block;
}


#comic {
    border: unset;
    width: 350px;
    line-height: 80px;
    color: white;
    position: relative;
    font-size: 50px;
    font-weight: bold;
    font-family: "Calibri", serif;
}

#comic:hover{
    background: unset;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: white;
}


.clearfix:before, .clearfix:after {
    content: '';
    display: table;
    clear: both;
}

/*body */
#bodyWeb {
    width: 100%;
    height: 1000px;
}


#bodyWeb > div {
    border: darkred solid 1px;
    text-align: center;
    float: left;
    display: inline-block;
    margin: 75px 75px;
    border-radius: 30px;
    height: 500px;
    width: 350px;
    background: white linear-gradient(#90b6ff, white, #CDCDCD, #a4ffff);
}

#bodyWeb > div:hover {
    background: #f5a7ff;
    border: white double 5px;
}

.title {
    margin: 12px 0;
    font-size: 15px;
    text-align: center;
}


.title {
    padding: 5px;
    background: darkred;
    color: dodgerblue;
    font-weight: bold;
}

div .image img {
    float: top;
    margin-top: 25px;
    border: dodgerblue 1px solid;
    box-shadow: 5px 5px 15px black;
    object-fit: cover;
    width: 65%;
    height: 65%;
    background: #4CAF50;
}

