
.footer {
    line-height: 50px;
    height: 50px;
}

.floating {
    margin: 0 auto;
    position: relative;
    min-height: 600px;
}

.floating-content {
    padding: 15px;
    margin: 0 auto;
    width: 80%;

}

.myRow {
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

* {
    list-style: none;

}

.ads {
    padding: 25px;
}