.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

* {
    font-family: Arial, sans-serif;
    padding: 0;
    text-decoration: none;
    list-style: none;
    margin: 0;
    box-sizing: border-box
}

[class*="col-"] {
    float: left;

}

.row::after {
    clear: both;
    display: block;
    content: "";
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

/*header*/
#head ul {
    background: #323736;
    height: 50px;
    width: 100%;

}

#head li {
    font-size: 15px;
    color: white;
    line-height: 50px;
    float: left;
    padding: 0 15px;
}

#linker ul {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

#linker {
    min-height: 410px;
    background: #c8cbb4;
}

#thebody {
    border-bottom: 1px solid #c8cbb4;
    height: auto;
    padding: 15px;
    margin-bottom: 15px;
}

#righter {
    font-size: 20px;
    text-align: center;
    min-height: 410px;
    background: #c8cbb4;
}

#ads {
    float: left;
    width: 100%;
}

#righter #ads > p {
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    border: solid darkgray 1px;
    padding: 25px 15px;
    background: white;
    margin-top: 30px;
}

#foot{
    bottom: 1px;
    float: left;
    position: fixed;
    width: 100%;
    height: 50px;
    background: gray;
    color: white;
    text-align: center;
    line-height: 50px;

}